<h1>TWEETER</h1>

<form method="post" action="/tweet">
  <textarea rows="4" cols="50" name="tweet"></textarea>
  <input type="submit" name="submit" id="submit">
</form>

<img id="pacman" src="overtakes.gif"/>

<div class="message">
</div>
